.contact
  text-align center
  width 100%
  padding-top 10px
  padding-bottom 10px
  &:hover
    background-color #d6d6d6
    
.add-contact
  font-size 20px
  float right
  margin-right 10px
  &:hover
    cursor pointer