.contact
  text-align center
  width 100%
  padding-top 10px
  padding-bottom 10px
  &:hover
    background-color #d6d6d6

.add-block
  float right
  display flex
  flex-direction row
  justify-content right
  align-items center
  input
    margin-right 5px