@font-face
  font-family Montserrat
  src url("~/assets/fonts/Montserrat-Regular.ttf")

body
  background-color white
  font-family 'Montserrat', sans-serif
  width 100%
  margin 0

a:visited, a:active, a:hover
  text-decoration none
  color black