.chat
  width 100%
  height calc(100vh - 35px)

.message
  border-bottom 1px solid #8a9fab
  padding 10px

.message-from
  margin-bottom 10px
  font-weight bold

.chat-messages
  overflow auto
  max-height calc(100% - 29px)

.chat-send
  display flex
  flex-direction row
  justify-content space-between

.message-send
  border 0
  background-color #d6d6d6
  height 28px
  width 100%
  padding-left 10px

.btn-send
  background-color #4c4c51
  border 0
  color white
  height 30px