.setting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 60%;
}
.setting-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
}
.setting-item-left{
  align-self: flex-start;
}
.setting-item-right{
  align-self: flex-end;
}
